jupyterlab
pandas
networkx
tensorflow
altair
seaborn
black==20.8b1
mypy
numpy
torch==1.8.0
sklearn
alegnn
hdf5storage

# Needed by alegnn/utils/dataTools
# This broke at runtime :/
gensim

# To avoid weird gensim warning
python-Levenshtein